#quoteDisplay {
  font-family: "schwager-sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  color: #100e0e;
  text-align: center;
  margin-top: 20px;
}

#generateQuote {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#generateQuote:hover {
  background-color: #e24328;
}

h2 {
font-family: "default-gothic", sans-serif;
font-weight: 600;
font-style: normal;
}

h1, p {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

body#index-page {
  background: linear-gradient(to right, #0a4be4, #e12544);
  color: white; 
}

body#presidency-page {
  background: linear-gradient(to right, #0a4be4, #c7e5f1);
  color: white;
}

body#legacy-page {
  background: linear-gradient(to right, #0a4be4, #0e3646);
  color: white; 
}

body#javatwo-page {
  background: linear-gradient(to right, #3bbc08, #058985);
  color: white; 
}

h1 {
  font-family: "pressato-variable", sans-serif;
  font-size: 150px;
font-variation-settings: "slnt" 0, "wght" 300, "wdth" 200;
}
p {
  font-family: "oso-sans-variable", sans-serif;
font-variation-settings: "wdth" 70, "wght" 200;
font-size: 40px;
}

#quiz-container {
  width: 50%;  
  margin: auto; 
  text-align: center; 
  padding: 20px; 
}

#submit-btn {
  display: block;
  margin: 20px auto; 
}

#presidency-page img {
  width: 50%; 
  height: auto; 
  display: block;
  margin: auto; 
}

.navbar {
  background-color: #004080 ;
}

.navbar .nav-link {
  color: rgb(6, 6, 6) ;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.navbar .nav-link:hover {
  background-color: #002855;
  color: #FFD700 ;
}
#score {
  text-align: center; 
  font-size: 1.5rem; 
  font-weight: bold;  
  margin-top: 20px;   
  display: block;     
}
iframe {
  max-width: 100%;
  height: auto;
}