#quoteDisplay {
  font-family: "schwager-sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  color: #e30505;
  text-align: center;
  margin-top: 20px;
}

#generateQuote {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#generateQuote:hover {
  background-color: #e24328;
}

h2 {
font-family: "default-gothic", sans-serif;
font-weight: 600;
font-style: normal;
}

h1, p {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

body#index-page {
  background: linear-gradient(to right, #0a4be4, #e12544);
  color: white; /* Ensures text is visible on dark backgrounds */
}

body#presidency-page {
  background: linear-gradient(to right, #0a4be4, #c7e5f1);
  color: white; /* Ensures text is visible on dark backgrounds */
}

body#legacy-page {
  background: linear-gradient(to right, #0a4be4, #0e3646);
  color: white; /* Ensures text is visible on dark backgrounds */
}

h1 {
  font-family: "pressato-variable", sans-serif;
  font-size: 150px;
font-variation-settings: "slnt" 0, "wght" 300, "wdth" 200;
}
p {
  font-family: "oso-sans-variable", sans-serif;
font-variation-settings: "wdth" 70, "wght" 200;
font-size: 40px;
}